@charset "UTF-8";
html, body {
	margin: 0;
	text-align: center;
	padding-bottom: 50px;
		background-image:url("../img/main.png");
  background-size: cover;
	}
.menu {
  width: 100%;
  background: radial-gradient(white,gray);
  position: fixed;
  bottom: 0;
  z-index:999;
}