@charset "UTF-8";
html, body {
	margin: 0;
	text-align: center;
	padding-bottom: 50px;

	}
html{
	background: radial-gradient(green,white);
  background-size: cover;
}
.menu {
  width: 100%;
  background: radial-gradient(white,gray);
  position: fixed;
  bottom: 0;
  z-index:999;
}

input[type="submit"] {
  display: inline-block;
  padding: 0.3em 1em;
  margin-bottom: 10px;
  text-decoration: none;
  background: #000000;
  color: white;
  border: double 5px rgb(0, 128, 255);
  border-radius: 5px;
  transition: .4s;
}

/*--hover--*/
input[type="submit"]:hover {
	  color: #000000;
  background:#FFFFFF;

}
.Form-Item {
	text-align: center;
	position: relative;
	width: 80%;
	margin: auto;
}
.Form-Item input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.Form-Item-Label input[type='text']:focus {
	border-bottom: 4px double dodgerblue;
	outline: none;
}
.haiku{
	width:300px;
	height:600px;
}